body {background-image: url(fundo.jpeg);
      background-size: cover;


}
      

*{
    margin: 0;
    padding: 0;
}



.cabeçalho {
    

    color: rgb(255, 0, 0);
    display: flex;
    justify-content: left;

}
    

.imagem-logo {

    width: 20%;
}

.lista-item {display: inline-block;
            margin: 20px 16px;
            font-size: 25px;


}

.objetivo {

           color: rgb(255, 0, 0);
           display: flex;
           justify-content: center;
           font-size: 30px;
}

