body {
    background-image: url(fundo\ robotica.png);
    
    font-family: 'Poppins', sans-serif;


}


.robotica-titulo {

text-align: center;
color: white;
font-size: 60px;


}

.robotica-texto {

    text-align: center;
    color: white;
    font-size: 20px;

}

.imagem-guri {



    width: 150px;
    image-orientation: from-image;
    
}