
body {

     background-color: var(---cor-de-fundo);
     background-image:url(fundo.jpeg);
     font-family: 'Press Start 2P', cursive;
    background-size: cover;
}

.imagem-logo {

    width: 20%;
   
    
}

.titulo {

    color: rgb(255, 0, 0);

    justify-content: center;
    font-size: 30px;
    display: flex;
    

}

.lista-item {display: inline-block;
    margin: 50px 40px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    
}

.objetivo {
    
    color: rgb(255, 0, 0);
           display: flex;
           font-size: 30x 30px;
           justify-content: center;


}

.titulo-objetivo {

 font-size: 40px;
 justify-content: center;
display: flex;

}


.texto-sobre

{
font-size: 20px;
justify-content: center;
display: flex;

}