body {
      font-family: 'Press Start 2P', cursive;
      background-image: url(fundo.jpeg);
        background-size: cover;
    
}
      

*{
    margin: 0;
    padding: 0;
}



.cabeçalho {
    

    color: rgb(255, 0, 0);
    display: flex;
    justify-content: left;

    
}
    

.imagem-logo {

    width: 20%;
}

.lista-item {display: inline-block;
            margin: 20px 16px;
            font-size: 30px;


}

.objetivo {

           color: rgb(255, 0, 0);
           display: flex;
           font-size: 25px 25px;
           justify-content: center;
           
}

.foto-vinicius {

 width: 120px

}

.estudante-div {

    text-align: center;
}

.texto-sobre {

    font-size: 80px;
}